<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Kennwort zurücksetzen</h1>
    <p>Bitte geben Sie Ihre E-Mail-Adresse ein, dann schicken wir Ihnen eine E-Mail mit der Sie Ihr Kennwort zurücksetzen können.</p>
  </div>
</div>

<div class="container mb-5">
  <div class="alert alert-success" *ngIf="success">Wir haben Ihnen eine E-Mail mit weiteren Anweisungen geschickt.</div>
  <div class="alert alert-danger" *ngIf="formError">{{ formError }}</div>

  <form [formGroup]="form" class="form-inline" novalidate (ngSubmit)="requestResetEmail()" *ngIf="!success">
    <form-field [formGroup]="form" field="email">
      <input form-field-input formControlName="email" type="email" class="mr-3" placeholder="E-Mail" autofocus required>
    </form-field>
    <button class="btn btn-primary" [disabled]="form.status !== 'VALID'">
      <spinner inverse *ngIf="submitting"></spinner>
      <span *ngIf="!submitting">E-Mail anfordern</span>
    </button>
  </form>
</div>
