<div *ngIf="registrationStatus === null" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Anmeldung <spinner class="ml-1"></spinner></h2>
  </div>
</div>

<div *ngIf="registrationStatus === 'deadlineExpired'" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Anmeldung</h2>
    <p class="lead"><i class="fa fa-frown-o mr-1"></i> Leider ist die Anmeldefrist für die Kinderferienspiele abgelaufen.</p>
    <p>Wir bitten um Ihr Verständnis, dass wir keine weiteren Anmeldungen entgegennehmen können.</p>
  </div>
</div>

<div *ngIf="registrationStatus === 'maxParticipants'" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Anmeldung</h2>
    <p class="lead"><i class="fa fa-frown-o mr-1"></i> Leider sind schon alle Plätze belegt.</p>
    <p>Wir bitten um Ihr Verständnis, dass wir keine weiteren Anmeldungen entgegennehmen können.</p>
  </div>
</div>

<div class="container" *ngIf="registrationCode && registrationCode.used">
  <div class="alert alert-danger">
    Der Anmeldungs-Code {{registrationCode.id}} wurde bereits für eine Anmeldung verwendet.
  </div>
</div>

<div *ngIf="registrationStatus === 'open' || registrationCode && !registrationCode?.used">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-3">Anmeldung</h2>
      <p class="lead">
        Wir freuen uns, dass Sie Ihr Kind bei den Ferienspielen Rothenbergen anmelden wollen.
        <strong>Anmeldeschluss ist {{ registrationDeadline | date }}</strong>
      </p>
      <p>
        Bitte füllen Sie alle Felder aus, es sei denn sie sind mit "optional" gekennzeichnet.
      </p>
      <button class="btn btn-outline-primary" *ngIf="enableTestData" (click)="createTestData()">
        Testdaten erzeugen
      </button>
    </div>
  </div>

  <div class="container mt-3 mb-3">
    <form [formGroup]="form" novalidate (ngSubmit)="submit()">
      <div class="alert alert-danger" *ngIf="error">{{ error }} </div>

      <fieldset formGroupName="child" class="mt-5">
        <legend><i class="fa fa-child mr-1"></i> Ihr Kind</legend>
        <p>Bitte geben Sie hier die persönlichen Daten <strong>Ihres Kindes</strong> ein.</p>

        <div class="form-row">
          <form-field class="col-md-6" [formGroup]="form.get('child')" field="firstName" label="Vorname">
            <input form-field-input formControlName="firstName">
          </form-field>
          <form-field class="col-md-6" [formGroup]="form.get('child')" field="lastName" label="Nachname">
            <input form-field-input formControlName="lastName">
          </form-field>
        </div>

        <div class="form-row">
          <form-field class="col-md-6" [formGroup]="form.get('child')" field="gender" label="Geschlecht">
            <select form-field-input formControlName="gender">
              <option value="">[ bitte auswählen ]</option>
              <option value="w">weiblich</option>
              <option value="m">männlich</option>
            </select>
          </form-field>
          <form-field class="col-md-6" [formGroup]="form.get('child')" field="dateOfBirth" label="Geburtsdatum">
            <input form-field-input formControlName="dateOfBirth" type="date">
          </form-field>
        </div>

        <form-field [formGroup]="form.get('child')" field="shirtSize" label="T-Shirt-Größe">
          <select form-field-input formControlName="shirtSize">
            <option value="">[ bitte auswählen ]</option>
            <option *ngFor="let shirtSize of shirtSizes" [value]="shirtSize.id">{{shirtSize.label}}</option>
          </select>
        </form-field>

        <form-field [formGroup]="form.get('child')" field="miscellaneous" label="Besonderheiten" description="Muss Ihr Kind regelmäßig Medikamente zu sich nehmen? Gibt es Besonderheiten zu beachten? z.B. ADS, Allergien, Nahrungsunverträglichkeiten, religiöse Essensvorschriften, Einnässen etc.">
          <textarea form-field-input formControlName="miscellaneous"></textarea>
        </form-field>

        <div class="form-group form-check">
          <label for="child.vegetarian" class="form-check-label">
            <input type="checkbox" name="vegetarian" id="child.vegetarian" formControlName="vegetarian" class="form-check-input">
            Mein Kind soll vegetarisch essen
          </label>
          <span class="form-text text-danger" *ngIf="form.get('child.vegetarian').invalid && (form.get('child.vegetarian').dirty || form.get('child.vegetarian').touched)">
            {{ form.get('child.vegetarian').errors | json }}
          </span>
        </div>

        <div class="form-group form-check">
          <label for="child.nextChild" class="form-check-label">
            <input type="checkbox" name="nextChild" id="child.nextChild" formControlName="nextChild" class="form-check-input">
            Wir haben bereits ein anderes Kind unserer Familie bei den Ferienspielen angemeldet
          </label>
          <span class="form-text text-danger" *ngIf="form.get('child.nextChild').invalid && (form.get('child.nextChild').dirty || form.get('child.nextChild').touched)">
            {{ form.get('child.nextChild').errors | json }}
          </span>
        </div>
      </fieldset>

      <fieldset formGroupName="parent" class="mt-5">
        <legend><i class="fa fa-user mr-1"></i> Erziehungsberechtigte(r)</legend>
        <p>Bitte geben Sie hier <strong>Ihre eigenen Daten</strong> als Erziehungsberechtigte(r) des Kindes ein.</p>

        <div class="form-row">
          <form-field class="col-md-6" [formGroup]="form.get('parent')" field="phone" label="Telefon">
            <input form-field-input formControlName="phone" type="phone">
          </form-field>
          <form-field class="col-md-6" [formGroup]="form.get('parent')" field="email" label="E-Mail">
            <input form-field-input formControlName="email" type="email">
          </form-field>
        </div>

        <form-field [formGroup]="form.get('parent')" field="street" label="Straße">
          <input form-field-input formControlName="street">
        </form-field>

        <div class="form-row">
          <form-field class="col-md-3" [formGroup]="form.get('parent')" field="zip" label="PLZ">
            <input form-field-input formControlName="zip">
          </form-field>
          <form-field class="col-md-9" [formGroup]="form.get('parent')" field="city" label="Wohnort">
            <input form-field-input formControlName="city">
          </form-field>
        </div>
      </fieldset>

      <fieldset formGroupName="emergencyContact" class="mt-5">
        <legend><i class="fa fa-medkit mr-1"></i> Notfallkontakt</legend>
        <p>Bitte geben Sie hier ein, wen wir im Falle eines Notfalles anrufen sollen.</p>

        <div class="form-row">
          <form-field class="col-md-6" [formGroup]="form.get('emergencyContact')" field="name" label="Name">
            <input form-field-input formControlName="name">
          </form-field>
          <form-field class="col-md-6" [formGroup]="form.get('emergencyContact')" field="phone" label="Telefon">
            <input form-field-input formControlName="phone" type="phone">
          </form-field>
        </div>
      </fieldset>

      <div class="mt-5">
        <h4>Preis</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Posten</th>
              <th class="number">Preis</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Gesamtbetrag</th>
              <th class="number">{{ price.total | number:'1.2-2' }}</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let el of price.elements">
              <td>{{ el.label }}</td>
              <td class="number">{{ el.price | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-5 mb-5">
        <div class="alert alert-danger" *ngIf="error">
          <i class="fa fa-exclamation-triangle mr-1"></i>
          {{ error }}
        </div>
        <div class="alert alert-danger" *ngIf="form.status !== 'VALID'">
          <i class="fa fa-exclamation-triangle mr-1"></i>
          Bitte korrigieren Sie die Fehler im Formular.
        </div>
        <button class="btn btn-primary" [disabled]="submitting || form.status !== 'VALID'">
          <i class="fa fa-check mr-1" *ngIf="!submitting"></i>
          <spinner inverse class="mr-3" *ngIf="submitting"></spinner>
          Kostenpflichtig anmelden
        </button>
      </div>
    </form>
  </div>
</div>
