<div class="jumbotron jumbotron-fluid" *ngIf="reg == null">
  <div class="container">
    <spinner></spinner>
  </div>
</div>

<div *ngIf="reg != null">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-3">{{reg.child.firstName}} {{reg.child.lastName}}</h2>
      <p>Angemeldet am {{ reg.registeredAt | date }}</p>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-danger" *ngIf="!reg.payment || !reg.waiver">
      <strong>Die Anmeldung ist noch nicht vollständig:</strong>
      <ul class="mb-0">
        <li *ngIf="!reg.payment">Bitte bezahlen Sie den Teilnahmebeitrag von € {{ reg.price.total | number:'1.2-2' }}.</li>
        <li *ngIf="!reg.waiver">Bitte unterschreiben Sie die Einverständniserklärung bis zum {{ waiverDeadline | date }}.</li>
      </ul>
    </div>

    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card" [ngClass]="{ 'border-danger': !reg.payment }">
          <div class="card-body">
            <h3 class="card-title">Teilnahmebeitrag € {{ reg.price.total | number:'1.2-2' }}</h3>
            <div *ngIf="reg.payment">
              <p class="card-text">Wir haben Ihren Teilnahmebeitrag am {{ reg.payment.timestamp | date }} erhalten. Vielen Dank!</p>
            </div>
            <div *ngIf="!reg.payment">
              <p class="card-text text-danger">Wir haben Ihren Teilnahmebeitrag noch nicht erhalten.</p>
              <p class="card-text">Bitte überweisen Sie den Betrag auf das folgende Konto:</p>
              <p class="card-text">
                Empfänger: EMK Rothenbergen<br>
                IBAN: DE38507500940027050992<br>
                BIC: HELADEF1GEL<br>
                Verwendungszweck: "Ferienspiele {{reg.child.firstName}} {{reg.child.lastName}}"
              </p>
              <p class="card-text">Sie können den Teilnahmebeitrag auch in bar bezahlen:</p>
              <p class="card-text">
                Büro der Katholischen Kirche "Christkönig"<br>
                Niedergründauer Straße 20<br>
                63584 Rothenbergen
              </p>
              <p class="card-text">Sie können das Geld und die Einverstädniserklärung auch im Sekretariat der Anton Calaminus Schule in Rothenbergen abgeben.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="card" [ngClass]="{ 'border-danger': !reg.waiver }">
          <div class="card-body">
            <h3 class="card-title">Einverständniserklärung</h3>
            <div *ngIf="reg.waiver">
              <p class="card-text">Wir haben Ihre Einverständniserklärung am {{ reg.waiver.timestamp | date }} erhalten.</p>
            </div>
            <div *ngIf="!reg.waiver">
              <p class="card-text text-danger">Wir haben Ihre Einverständniserklärung noch nicht erhalten.</p>
              <p class="card-text">Bitte drucken Sie jetzt die Einverständniserklärung aus und schicken Sie sie <strong>bis zum {{ waiverDeadline | date }}</strong> unterschrieben an uns zurück oder bringen Sie sie im Gemeindebüro vorbei.</p>
              <p class="card-text">Sie können das Geld und die Einverstädniserklärung auch im Sekretariat der Anton Calaminus Schule in Rothenbergen abgeben.</p>
              <button class="btn btn-primary mt-3" (click)="printWaiver()">
                <i class="fa fa-print mr-1" aria-hidden="true"></i>
                Einverständniserklärung drucken
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
