<div class="jumbotron jumbotron-fluid" *ngIf="!loaded">
  <div class="container">
    <h2 class="display-3">
      <spinner></spinner>
    </h2>
  </div>
</div>

<page-not-found *ngIf="loaded && !reg"></page-not-found>

<div *ngIf="loaded && reg">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-3">{{ reg.child.firstName }} {{ reg.child.lastName }}</h2>
      <p class="lead">
        <i class="fa fa-child mr-1" aria-hidden="true"></i>
        Hurra! Sie haben {{ reg.child.firstName }} am {{ reg.registeredAt | date }} angemeldet.
      </p>

      <div *ngIf="!reg.payment || !reg.waiver">
        <p class="text-danger">
          <i class="fa fa-exclamation-triangle mr-1" aria-hidden="true"></i>
          <strong>Die Anmeldung ist noch nicht vollständig!</strong>
        </p>
        <p>Bitte führen Sie folgende Schritte durch, um die Anmeldung abzuschließen:</p>
        <ul class="mb-0">
          <li *ngIf="!reg.payment">Bitte bezahlen Sie den Teilnahmebeitrag von € {{ reg.price.total | number: '1.2-2' }}.</li>
          <li *ngIf="!reg.waiver">Bitte unterschreiben Sie die Einverständniserklärung bis zum {{ waiverDeadline | date }}.</li>
        </ul>
      </div>
      <div *ngIf="reg.payment && reg.waiver">
        <p class="text-success">
          <i class="fa fa-check mr-1" aria-hidden="true"></i>
          <strong>Die Anmeldung ist vollständig abgeschlossen. Wir freuen uns auf {{ reg.child.firstName }}!</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card" [ngClass]="{ 'border-danger': !reg.payment }">
          <div class="card-body">
            <h3 class="card-title">Teilnahmebeitrag € {{ reg.price.total | number: '1.2-2' }}</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Posten</th>
                  <th class="number">Preis</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Gesamtbetrag</th>
                  <th class="number">{{ reg.price.total | number: '1.2-2' }}</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let el of reg.price.elements">
                  <td>{{ el.label }}</td>
                  <td class="number">{{ el.price | number: '1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="reg.payment">
              <p>Wir haben Ihren Teilnahmebeitrag am {{ reg.payment.timestamp | date }} erhalten. Vielen Dank!</p>
            </div>
            <div *ngIf="!reg.payment">
              <p class="card-text text-danger">Wir haben Ihren Teilnahmebeitrag noch nicht erhalten.</p>

              <ul class="nav nav-tabs nav-justified">
                <li class="nav-item" *ngIf="paypalConfig.enabled">
                  <a href="" class="nav-link" [ngClass]="{ active: paymentMethod === 'paypal' }" (click)="paymentMethod = 'paypal'; (false)"
                    >PayPal</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href=""
                    class="nav-link"
                    [ngClass]="{ active: paymentMethod === 'transfer' }"
                    (click)="paymentMethod = 'transfer'; (false)"
                    >Überweisung</a
                  >
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link" [ngClass]="{ active: paymentMethod === 'cash' }" (click)="paymentMethod = 'cash'; (false)"
                    >Bar</a
                  >
                </li>
              </ul>
              <div class="tab-content mt-3" id="payment-method">
                <div class="tab-pane" [ngClass]="{ active: paymentMethod === 'paypal' }">
                  <p>Sie können den Teilnahmebeitrag jetzt sofort bequem mit PayPal bezahlen.</p>
                  <div id="paypal-button"></div>
                  <p *ngIf="paypalConfig.testUser" class="card-text">
                    <small>Benutzer für Tests: {{ paypalConfig.testUser.email }} / {{ paypalConfig.testUser.password }}</small>
                  </p>
                </div>
                <div class="tab-pane" [ngClass]="{ active: paymentMethod === 'transfer' }">
                  <p>Bitte überweisen Sie den Betrag auf das folgende Konto:</p>
                  <p class="card-text">
                    <small>
                      Empfänger: EmK Rothenbergen
                      <br />
                      IBAN: DE38507500940027050992 <br />
                      BIC: HELADEF1GEL <br />
                      Verwendungszweck: "Ferienspiele {{ reg.child.firstName }} {{ reg.child.lastName }}"
                    </small>
                  </p>
                </div>
                <div class="tab-pane" [ngClass]="{ active: paymentMethod === 'cash' }">
                  <p>Sie können den Teilnahmebeitrag in bar bezahlen:</p>
                  <p>
                    <small>
                      Büro der Katholischen Kirche "Christkönig"
                      <br />
                      Niedergründauer Straße 20 <br />
                      63584 Rothenbergen
                    </small>
                  </p>
                  <p class="card-text">
                    Sie können das Geld und die Einverstädniserklärung auch im Sekretariat der Anton Calaminus Schule in Rothenbergen
                    abgeben.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="card" [ngClass]="{ 'border-danger': !reg.waiver }">
          <div class="card-body">
            <h3 class="card-title">Einverständniserklärung</h3>
            <div *ngIf="reg.waiver">
              <p class="card-text">Wir haben Ihre Einverständniserklärung am {{ reg.waiver.timestamp | date }} erhalten.</p>
            </div>
            <div *ngIf="!reg.waiver">
              <p class="text-danger">Wir haben Ihre Einverständniserklärung noch nicht erhalten.</p>
              <button class="btn btn-primary mb-3" (click)="printWaiver()">
                <i class="fa fa-print mr-1" aria-hidden="true"></i>
                Einverständniserklärung drucken
              </button>
              <p>
                Bitte drucken Sie jetzt die Einverständniserklärung aus und schicken Sie sie
                <strong>bis zum {{ waiverDeadline | date }}</strong> unterschrieben an uns zurück oder bringen Sie sie im Gemeindebüro
                vorbei.
              </p>
              <p class="card-text">
                Sie können das Geld und die Einverstädniserklärung auch im Sekretariat der Anton Calaminus Schule in Rothenbergen abgeben.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Kuchen</h3>
            <ng-container [ngSwitch]="reg.kuchen.selection">
              <p *ngSwitchCase="'none'">Sie bringen leider keinen Kuchen mit.</p>
              <p *ngSwitchCase="'geschwister'">Sie bringen schon für ein Geschwisterkind einen Kuchen mit.</p>
              <div *ngSwitchDefault>
                Sie bringen am <strong>{{ reg.kuchen.date | date: 'EEEE' }} {{ reg.kuchen.date | date }}</strong> eine(n)
                <strong>{{ reg.kuchen.name }}</strong> mit. Vielen Dank!
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Übernachtung</h3>
            <ng-container [ngSwitch]="reg.uebernachtung.type">
              <p *ngSwitchCase="'none'">
                {{ reg.child.firstName }} nimmt nicht an der Übernachtung teil und wird zur gewohnten Uhrzeit abgeholt.
              </p>
              <p *ngSwitchCase="'uebernachtung'">{{ reg.child.firstName }} nimmt an der Übernachtung teil.</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
