service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{id} {
      allow get: if true;
      allow create: if true;
      allow list: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.office == true;
      allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.anmeldungen == true;
    }

    match /config/{id} {
      allow get: if true;
    }

    match /kuchen/{id} {
      allow get: if true;
    }

    match /users/{userId} {
      allow get, create, update: if request.auth.uid == userId;
    }

    match /invitations/{id} {
      allow get: if true;
      allow list, create, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.anmeldungen == true;
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow get: if true;
    }
  }
}
