<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Anmeldung</h1>
    <p>Bitte melden Sie sich mit einer der untenstehenden Methoden an.</p>
  </div>
</div>

<div class="container mb-5">
  <p>Melden Sie sich an, wenn Sie schon ein Benutzerkonto haben.</p>
  <form [formGroup]="form" novalidate (ngSubmit)="signin()" class="mb-5">
    <div class="alert alert-danger" *ngIf="formError">{{ formError }}</div>
    <div class="form-row">
      <form-field class="col-md-6" [formGroup]="form" field="email" label="E-Mail">
        <input form-field-input formControlName="email" type="email" autofocus>
      </form-field>
      <form-field class="col-md-6" [formGroup]="form" field="password" label="Passwort">
        <input form-field-input formControlName="password" type="password">
      </form-field>
    </div>
    <button class="btn btn-primary mr-3" [disabled]="form.status !== 'VALID'">Anmelden</button>
    <a routerLink="/password-reset">
      <small>Passwort vergessen?</small>
    </a>
  </form>

  <p>Sie können sich auch mit einer der folgenden Anwendungen anmelden.</p>
  <div class="row">
    <div class="col-sm-{{ 12 / authenticationProviders.length }}" *ngFor="let provider of authenticationProviders">
      <button class="btn btn-outline-primary btn-lg btn-block" (click)="signinWithProvider(provider.id)">
        <i class="fab fa-{{ provider.icon }} mr-1"></i> {{ provider.label }}
      </button>
    </div>
  </div>
</div>
