<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Benutzerkonto erstellen</h1>
  </div>
</div>

<div class="container mb-5">
  <p>Erstellen Sie mit diesem Formular ein neues Benutzerkonto.</p>
  <form [formGroup]="form" novalidate (ngSubmit)="signin()" class="mb-5">
    <div class="alert alert-danger" *ngIf="formError">{{ formError }}</div>
    <div class="form-row">
      <form-field class="col-md-6" [formGroup]="form" field="email" label="E-Mail">
        <input form-field-input formControlName="email" type="email" autofocus>
      </form-field>
      <form-field class="col-md-6" [formGroup]="form" field="password" label="Kennwort">
        <input form-field-input formControlName="password" type="password">
      </form-field>
    </div>
    <button class="btn btn-primary" [disabled]="form.status !== 'VALID'">Benutzerkonto erstellen</button>
  </form>

  <p>Sie können sich auch mit einer der folgenden Anwendungen anmelden.</p>
  <div class="row">
    <div class="col-sm-{{ 12 / authenticationProviders.length }}" *ngFor="let provider of authenticationProviders">
      <button class="btn btn-outline-primary btn-lg btn-block" (click)="signinWithProvider(provider.id)">
        <i class="fab fa-{{ provider.icon }} mr-1"></i> {{ provider.label }}
      </button>
    </div>
  </div>
</div>
