.jumbotron {
  background: #0035cf url(../assets/sunflower-576.jpg) bottom right no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  min-height: 100vh;
}

@media (min-width: 576px) {
  .jumbotron {
    background-image: url(../assets/sunflower-768.jpg);
  }
}

@media (min-width: 768px) {
  .jumbotron {
    background-image: url(../assets/sunflower.jpg);
  }
}

.alert {
  font-size: 1.25rem;
}

.down-arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  opacity: 0;
  animation: down-arrow 2s infinite linear;

  a {
    color: white;
    text-decoration: none;
  }
}

@keyframes down-arrow {
  0%,
  20% {
    opacity: 0.01;
    bottom: 2rem;
  }
  80%,
  100% {
    opacity: 0.5;
    bottom: 0.5rem;
  }
}
