<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Anmeldung</h1>
    <p>Bitte melden Sie sich mit einer der untenstehenden Methoden an.</p>
  </div>
</div>

<div class="container">
  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Anmelden</h3>
          <p class="card-text">Melden Sie sich an, wenn Sie schon ein Benutzerkonto haben.</p>
          <form [formGroup]="signinForm" novalidate (ngSubmit)="signin()">
            <div class="alert alert-danger" *ngIf="signinFormError">{{ signinFormError }}</div>
            <div class="form-group">
              <label for="signin.email">E-Mail</label>
              <input class="form-control" name="email" id="signin.email" formControlName="email" type="email" required autofocus>
              <span class="form-text text-danger" *ngIf="signinForm.get('email').invalid && (signinForm.get('email').dirty || signinForm.get('email').touched)">
                {{ signinForm.get('email').errors | json }}
              </span>
            </div>
            <div class="form-group">
              <label for="signin.password">Kennwort</label>
              <input class="form-control" name="password" id="signin.password" formControlName="password" type="password" required>
              <span class="form-text text-danger" *ngIf="signinForm.get('password').invalid && (signinForm.get('password').dirty || signinForm.get('password').touched)">
                {{ signinForm.get('password').errors | json }}
              </span>
            </div>
            <button class="btn btn-primary" [disabled]="signinForm.status !== 'VALID'">Anmelden</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Registrieren</h3>
          <p class="card-text">Hier können Sie ein neues Benutzerkonto erstellen.</p>
          <form [formGroup]="registerForm" novalidate (ngSubmit)="register()">
            <div class="alert alert-danger" *ngIf="registerFormError">{{ registerFormError }}</div>
            <div class="form-group">
              <label for="signin.email">E-Mail</label>
              <input class="form-control" name="email" id="signin.email" formControlName="email" type="email" required autofocus>
              <span class="form-text text-danger" *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                {{ registerForm.get('email').errors | json }}
              </span>
            </div>
            <div class="form-group">
              <label for="signin.password">Kennwort</label>
              <input class="form-control" name="password" id="signin.password" formControlName="password" type="password" required>
              <span class="form-text text-danger" *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                {{ registerForm.get('password').errors | json }}
              </span>
            </div>
            <button class="btn btn-primary" [disabled]="registerForm.status !== 'VALID'">Registrieren</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-{{ 12 / authenticationProviders.length }}" *ngFor="let provider of authenticationProviders">
      <button class="btn btn-outline-primary btn-lg btn-block" (click)="signinWithProvider(provider.id)">
        <i class="fa fa-{{ provider.icon }} mr-1"></i> {{ provider.label }}
      </button>
    </div>
  </div>
</div>
