<form [formGroup]="form" novalidate (ngSubmit)="submit()">
  <form-field [formGroup]="form" [field]="field.name" [label]="field.label" *ngFor="let field of formFields">
    <input form-field-input [formControlName]="field.name" [type]="field.type">
  </form-field>

  <div class="mt-3 mb-5">
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
    <div class="alert alert-info" *ngIf="saving"><i class="fa fa-spinner mr-1"></i> Die Änderungen werden gespeichert…</div>
    <div class="alert alert-success" *ngIf="saved"><i class="fa fa-check mr-1"></i> Die Änderungen wurden gespeichert.</div>
    <button class="btn btn-primary" [disabled]="saving || form.status !== 'VALID'">Speichern</button>
  </div>
</form>
