<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th *ngFor="let role of roles">{{ role.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <td>{{ user.displayName || '?' }}</td>
      <td>{{ user.email }}</td>
      <td *ngFor="let role of roles">
        <button *ngIf="user.hasRole(role.id)" (click)="revokeRole(user, role)" class="btn btn-link">
          <i class="fa fa-check mr-1" aria-hidden="true"></i>
        </button>
        <button *ngIf="!user.hasRole(role.id)" (click)="assignRole(user, role)" class="btn btn-link">
          <i class="fa fa-times mr-1" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
