<p>Mit Anmeldungs-Codes können auch nach dem Anmeldeschluss noch Anmeldungen vorgenommen werden.</p>
<p>Erzeuge einen Code und schick den Eltern die Anmelde-URL per E-Mail.</p>
<p>Jeder Code kann nur ein mal verwendet werden!</p>

<div class="mb-5">
  <p><strong>Neuen Anmeldungs-Code erzeugen</strong></p>
  <div class="alert alert-danger" *ngIf="formError">{{ formError }}</div>

  <form [formGroup]="form" novalidate (ngSubmit)="createCode()" class="form-inline">
    <form-field [formGroup]="form" field="label" class="mr-3">
      <input form-field-input formControlName="label" placeholder="kurze Beschreibung">
    </form-field>
    <button class="btn btn-primary" [disabled]="form.status !== 'VALID'">
      <spinner inverse class="mr-3" *ngIf="formSubmitting"></spinner>
      Code erzeugen
    </button>
  </form>

  <div class="alert alert-success mt-3" *ngIf="createdCode">
    Der neue Anmeldungs-Code lautet {{createdCode}}.
    <a href="" (click)="copyURL(createdCode); false">URL kopieren</a>
    <span class="badge badge-success" *ngIf="urlCopied === createdCode">ok</span>
  </div>
</div>

<spinner *ngIf="(codes | async) === null"></spinner>

<div *ngIf="(codes | async) !== null">
  <p *ngIf="!(codes | async).length">Es gibt noch keine Anmelde-Codes.</p>

  <table class="table" *ngIf="(codes | async).length">
    <thead>
      <tr>
        <th>Code</th>
        <th>Beschreibung</th>
        <th>Erzeugt am</th>
        <th>Verwendet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let code of codes | async">
        <td>
          {{ code.id }}
          <br>
          <small *ngIf="!code.used">
            <a [routerLink]="['/anmeldung', { code: code.id }]" id="code_{{code.id}}_url"></a>
            <a href="" (click)="copyURL(code.id); false">URL kopieren</a>
            <span class="badge badge-success" *ngIf="urlCopied === code.id">ok</span>
          </small>
        </td>
        <td>{{ code.label }}</td>
        <td>{{ code.createdAt | date }}</td>
        <td>
          <span *ngIf="code.used">
            <a [routerLink]="['../anmeldungen', code.registrationId]">{{ code.usedBy }}</a>
            <small>am {{ code.usedAt | date }}</small>
          </span>
          <em *ngIf="!code.used">noch nicht</em>
        </td>
      </tr>
    </tbody>
  </table>
</div>
