<spinner *ngIf="!registrations"></spinner>

<div *ngIf="registrations">
  <p>
    <span class="float-right">{{ (registrations || []).length }} Anmeldungen</span>

    <button class="btn btn-primary" (click)="export()">
      <spinner inverse class="mr-3" *ngIf="exportWorking"></spinner>
      <i class="fa fa-table mr-1" *ngIf="!exportWorking"></i>
      Daten herunterladen
    </button>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Geschlecht</th>
        <th>Geburtsdatum</th>
        <th title="Teilnahmebeitrag erhalten">Bez.</th>
        <th title="Einverständnis erhalten">Einv.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of registrations">
        <td>
          <a [routerLink]="[reg.id]">{{ reg.child.lastName }}, {{ reg.child.firstName }}</a>
        </td>
        <td>{{ reg.child.gender.label }}</td>
        <td>{{ reg.child.dateOfBirth | date }}</td>
        <td>
          <i class="fa fa-times mr-1" aria-hidden="true" [ngClass]="{ 'fa-check': !!reg.payment, 'fa-times': !reg.payment }"></i>
        </td>
        <td>
          <i class="fa fa-times mr-1" aria-hidden="true" [ngClass]="{ 'fa-check': !!reg.waiver, 'fa-times': !reg.waiver }"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
