<a class="float-right" [routerLink]="['..']">&larr; zurück</a>
<spinner *ngIf="reg == null"></spinner>

<div *ngIf="reg != null">
  <h2>{{reg.child.firstName}} {{reg.child.lastName}}</h2>
  <p>Angemeldet am {{ reg.registeredAt | date }}</p>

  <div class="alert alert-danger" *ngIf="!reg.payment || !reg.waiver">
    <strong>Die Anmeldung ist noch nicht vollständig:</strong>
    <ul class="mb-0">
      <li *ngIf="!reg.payment">Teilnahmebeitrag fehlt: € {{ reg.price.total | number:'1.2-2' }}.</li>
      <li *ngIf="!reg.waiver">Einverständniserklärung fehlt.</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-3">
      <div class="card" [ngClass]="{ 'border-danger': !reg.payment, 'text-danger': !reg.payment }">
        <div class="card-body">
          <h3 class="card-title">
            <i class="fa fa-check mr-1" [ngClass]="{ 'fa-check': !!reg.payment, 'fa-times': !reg.payment }"></i>
            Teilnahmebeitrag € {{ reg.price.total | number:'1.2-2' }}
          </h3>
          <div *ngIf="reg.payment">
            <p>
              Erhalten am {{ reg.payment.timestamp | date }}
              <span *ngIf="reg.payment && reg.payment.type === 'paypal'">per PayPal</span>
            </p>
            <button class="btn btn-outline-primary" (click)="setPaymentNotReceived()">
              <spinner inverse class="mr-3" *ngIf="paymentWorking === 'reset'"></spinner>
              <i class="fa fa-times mr-1" *ngIf="paymentWorking !== 'reset'"></i>
              doch nicht erhalten
            </button>
          </div>
          <div *ngIf="!reg.payment">
            <p>Noch nicht erhalten</p>
            <button class="btn btn-primary" (click)="setPaymentReceived('cash')">
              <spinner inverse class="mr-3" *ngIf="paymentWorking === 'cash'"></spinner>
              <i class="fa fa-check mr-1" *ngIf="paymentWorking !== 'cash'"></i>
              bar erhalten
            </button>
            <button class="btn btn-primary" (click)="setPaymentReceived('transfer')">
              <spinner inverse class="mr-3" *ngIf="paymentWorking === 'transfer'"></spinner>
              <i class="fa fa-check mr-1" *ngIf="paymentWorking !== 'transfer'"></i>
              per Überweisung erhalten
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="card" [ngClass]="{ 'border-danger': !reg.waiver, 'text-danger': !reg.waiver }">
        <div class="card-body">
          <h3 class="card-title">
            <i class="fa fa-check mr-1" [ngClass]="{ 'fa-check': !!reg.waiver, 'fa-times': !reg.waiver }"></i>
            Einverständniserklärung
          </h3>
          <p class="card-text" *ngIf="reg.waiver">Erhalten am {{ reg.waiver.timestamp | date }}</p>
          <p class="card-text" *ngIf="!reg.waiver">Noch nicht erhalten</p>
          <div class="mt-3">
            <button class="btn btn-primary" (click)="printWaiver()">
              <spinner inverse class="mr-3" *ngIf="waiverWorking"></spinner>
              <i class="fa fa-print mr-1" *ngIf="!waiverWorking"></i>
              drucken
            </button>
            <button class="btn btn-primary" (click)="setWaiverReceived(true)" *ngIf="!reg.waiver">
              <i class="fa fa-check mr-1"></i>
              erhalten
            </button>
            <button class="btn btn-outline-primary" (click)="setWaiverReceived(false)" *ngIf="reg.waiver">
              <i class="fa fa-times mr-1"></i>
              doch nicht erhalten
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="row">
      <div class="col-lg-6">
        <h4>Kind</h4>
        <dl class="row">
          <dt class="col-sm-3">Geburtsdatum</dt>
          <dd class="col-sm-9">{{ reg.child.dateOfBirth | date }}</dd>
          <dt class="col-sm-3">Geschlecht</dt>
          <dd class="col-sm-9">{{ reg.child.gender.label }}</dd>
          <dt class="col-sm-3">T-Shirt</dt>
          <dd class="col-sm-9">{{ reg.child.shirtSize.label }}</dd>
          <dt class="col-sm-3">Vegetarisch</dt>
          <dd class="col-sm-9">{{ reg.child.vegetarian ? 'ja' : 'nein' }}</dd>
          <dt class="col-sm-3">Geschwister</dt>
          <dd class="col-sm-9">{{ reg.child.nextChild ? 'ja' : 'nein' }}</dd>
        </dl>
      </div>
      <div class="col-lg-6">
        <h4>Erziehungsberechtigte(r)</h4>
        <dl class="row">
          <dt class="col-sm-3">Telefon</dt>
          <dd class="col-sm-9">
            <a href="tel:{{ reg.parent.phone }}">{{ reg.parent.phone }}</a>
          </dd>
          <dt class="col-sm-3">Email</dt>
          <dd class="col-sm-9">
            <a href="mailto:{{ reg.parent.email }}">{{ reg.parent.email }}</a>
          </dd>
          <dt class="col-sm-3">Adresse</dt>
          <dd class="col-sm-9">{{ reg.parent.street }}
            <br>{{ reg.parent.plz }} {{ reg.parent.city }}</dd>
        </dl>
        <h4>Notfallkontakt</h4>
        <dl class="row">
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9">{{ reg.emergencyContact.name }}</dd>
          <dt class="col-sm-3">Telefon</dt>
          <dd class="col-sm-9">
            <a href="tel:{{ reg.emergencyContact.phone }}">{{ reg.emergencyContact.phone }}</a>
          </dd>
        </dl>
        <h4>Übernachtung</h4>
        <dl class="row">
          <dt class="col-sm-3">Führung</dt>
          <dd class="col-sm-9">{{ reg.uebernachtung.type === 'fuehrung' || reg.uebernachtung.type === 'uebernachtung' ? 'ja' : 'nein' }}</dd>
          <dt class="col-sm-3">Übernachtung</dt>
          <dd class="col-sm-9">{{ reg.uebernachtung.type === 'uebernachtung' ? 'ja' : 'nein' }}</dd>
          <dt class="col-sm-3">Bringt Zelt mit</dt>
          <dd class="col-sm-9">{{ reg.uebernachtung.tent ? 'ja' : 'nein' }}</dd>
        </dl>
        <h4>Kuchen</h4>
        <ng-container [ngSwitch]="reg.kuchen.selection">
          <p *ngSwitchCase="'none'">Bringt keinen Kuchen mit.</p>
          <p *ngSwitchCase="'geschwister'">Bringt schon für ein Geschwisterkind einen Kuchen mit.</p>
          <p *ngSwitchCase="'kuchen'">Bringt am {{ reg.kuchen.date | date:'EEEE' }} {{ reg.kuchen.date | date }} einen {{ reg.kuchen.name }} mit.</p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
